@font-face {
    font-family: 'Roboto-Regular'; 
    src: url(../fonts/Roboto-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}
$RRegular: 'Roboto-Regular';
@font-face {
    font-family: 'Roboto-Medium'; 
    src: url(../fonts/Roboto-Medium.ttf);
	font-style: normal;
	font-weight: normal;
}
$RMedium: 'Roboto-Medium';
@font-face {
    font-family: 'Roboto-Light'; 
    src: url(../fonts/Roboto-Light.ttf);
	font-style: normal;
	font-weight: normal;
}
$RLight: 'Roboto-Light';