@import "fonts.scss";

body {
	font-family: $RLight;
	background-color: #f5f5f5;
}

#scrollToTop {
	width: 40px;
	height: 40px;
	background-color: #85c226;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 28px;
	position: fixed;
	bottom:75px;
	left:40px;
	border-radius: 3px;
	border: 1px solid transparent;
	cursor: pointer;
	&:hover {
		background-color: #fff;
		border-color: #85c226;
		color: #85c226;
	}
}

.cbalink {
	display: none;
}
.has-error {
	border: 1px solid #e74c3c !important;
}
.title {
	font-size: 30px;
	margin-top: 50px;
	color: #000;
	span {
		color: #85c226;
	}
}
.aligncenter {
	text-align: center;
	margin: auto;
    display: block;
}
.under-title {
	width: 5%;
	background: #85c226;
	height: 1px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 30px;
}
.under-title-s {
	width: 25%;
    background: #85c226;
    height: 1px;
    margin: auto;
    margin-top: 27px;
    margin-bottom: 30px;
}
.desc {
	font-size: 18px;
	line-height: 30px;
	max-width: 85%;
	margin: auto;
	margin-bottom: 50px;
}
#fade-menu {
	z-index: 19;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: none;
}
#feedback-popup {
	z-index: 25;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	display: none;
}
.feedback-box {
	position: fixed;
	width: 480px;
	background-color: #fff;
	top: 50%;
	left: 50%;
	z-index: 25;
	margin-top: -180px;
	margin-left: -240px;
	border: 1px solid #ddd;
	border-radius: 3px;
	text-align: center;
	padding: 15px;
	box-shadow: 0px 0px 6px #C9D2D8;
	display: none;
	#close-feedback {
		font-size: 18px;
		color: #333333;
		position: absolute;
		right: 5px;
		top: 5px;
		transition: all 0.3s ease;
		&:hover {
			color: #85c226;
		}
	}
	.title {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.under-title {
		width: 15%;
		margin-top: 0;
	}
	.popup-form {
		margin-top: 15px;
	}
	.input-group {
		margin: 15px 0;
		width: 100%;
		.input-group-addon {
			width: 10%;
		}
		.form-control {
			width: 100%;
			&:focus {
				border-color: #85c226;
			}
		}
	}
	.send-form {
		width: 100%;
		height: 45px;
		background-color: #85c226;
		border: 1px solid #85c226;
		color: #fff;
		margin: 15px 0;
		border-radius: 3px;
		font-size: 18px;
		transition: all 0.3s ease;
		&:hover {
			background-color: transparent;
			color: #85c226;
		}
	}
}
.btn-order-test {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	background-color: #85c226;
	border: 1px solid #85c226;
	transition: all 0.4s ease;
	border-radius: 3px;
	color: #fff;
	&:hover {
		border-color: #85c226;
		background-color: transparent;
		color: #85c226;
	}
}



.header {
	height: 680px;
	background: url(../img/header-background-min.png);
	.container {
		padding-top: 175px;
		height: 100%;
		color: #fff;
		.title {
			text-transform: uppercase;
			font-size: 60px;
			margin-bottom: 30px;
			font-family: $RLight;
			color: #fff;
		}
		.desc {
			text-transform: uppercase;
			font-size: 22px;
			margin: auto;
			margin-bottom: 30px;
			max-width: 70%;
		}
		.header-btn {
			text-decoration: none;
			margin: auto;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid #fff;
			width: 240px;
			padding: 10px;
			color: #fff;
			font-size: 18px;
			transition: all 0.2s ease;
			&:hover {
				background-color: #85c226;
				border: 1px solid #85c226;
			}
		}
	}
}
.navigate-sec {
	.contacts-bar {
		background-color: rgba(0, 0, 0, 0.5);
		height: 45px;
		margin-top: -45px;
		.container {
			height: 100%;
			.contact {
				float: left;
				text-decoration: none;
				font-size: 16px;
				color: #fff;
				line-height: 45px;
				margin: auto 15px;
				i {
					margin-right: 10px;
				}
			}
		}
	}
	.navigate-menu {
		height: 95px;
		background-color: #fff;
		.container {
			height: 100%;
			.btn {
				float: right;
				display: none;
				margin-top: 20.5px;
				margin-right: 15px;
			}
			.logo-box {
				float: left;
				width: 200px;
				margin: 10px 15px;
				.logo {
					width: 100%;
					height: 75px;
				}
			}
			.navigate-box {
				float: right;
				display: flex;
				align-items: center;
				height: 100%;
				justify-content: space-around;
				width: 50%;
				margin-bottom: 0;
				.nav-links {
					border-bottom: 2px solid transparent;
					margin-bottom: -5px;
					padding-bottom: 3px;
					transition: all 0.3s ease;
					position: relative;
					.active-item {
						width: 100%;
						height: 2px;
						background-color: #85c226;
						position: absolute;
						left: 0;
						bottom: -2px;
						display: none;
					}
					.active-item:before {
					    border: 5px solid transparent;
					    content: '';
					    position: absolute;
					    border-bottom: 5px solid #85c226;
					    top: -8px;
					    margin-left: -5px;
					    left: 50%;
					}
					.nav-item {
						text-decoration: none;
						height: 100%;
						width: 100%;
						color: #000;
						font-size: 15px;
						transition: all 0.3s ease;
						display: block;
					}
					&:hover {
						border-bottom: 2px solid #85c226;
						.nav-item {
							color: #85c226;
						}
					}
				}
			}
		}
	}
}
.our-service {
	overflow: hidden;
	width: 100%;
	.container {
		height: 100%;
		padding-bottom: 50px;
		.services-container {
			width: 100%;
			.service-item {
				.item-link {
					width: 100%;
					height: 70px;
					border: 1px solid #DAE1E4;
					background-color: #fff;
					border-radius: 5px;
					text-decoration: none;
					display: block;
					margin-bottom: 20px;
					padding: 10px 0;
					color: #000;
					.icon-box {
						width: 21%;
						height: 100%;
						border-right: 1px solid #DAE1E4;
						font-size: 24px;
						display: flex;
						justify-content: center;
						align-items: center;
						float: left;
						.fa-bullhorn { color: #009688; }
						.fa-desktop { color: #777; }
						.fa-cloud { color: #9C27B0; }
						.fa-bar-chart-o { color: #4CAF50; }
						.fa-laptop { color: #FF5722; }
						.fa-link { color: #00BCD4; }
						.fa-user { color: #F44336; }
						.fa-code { color: #2196F3; }
					}
					.text-box {
						width: 79%;
						float: left;
						padding: 0 15px;
						height: 100%;
						overflow: hidden;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 15px;
					}
					&:hover {
						box-shadow: 0px 0px 6px #C9D2D8;
					}
				}
			}
		}
	}
}
.about-us {
	padding-bottom: 100px;
	background-color: #fff;
	overflow: hidden;
	.container {
		.under-title {
			width: 5%;
			background: #85c226;
			height: 1px;
			margin: auto;
			margin-top: 15px;
			margin-bottom: 25px;
		}
		.desc {
			text-align: left;
		}
		.caption {
			font-size: 24px;
			margin-bottom: 50px;
			span {
				color: #85c226;
			}
		}
		.wrapper {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			.item {
				.box {
					height: 100%;
					overflow: hidden;
					border: 1px solid #DAE1E4;
					border-radius: 5px;
					padding: 10px;
					.icon-box {
						margin: auto;
						width: 80px;
						height: 80px;
						border-radius: 50%;
						border: 3px solid #85c226;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 32px;
						margin-bottom: 15px;
					}
					.text-box {
						font-size: 18px;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						padding: 0 10px;
					}
				}
			}
		}
	}
}
.ask {
	overflow: hidden;
	padding-bottom: 50px;
	.container {
		.wrapper {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			.item-s {
				background-color: #fff;
				border: 1px solid #DAE1E4;
				border-radius: 5px;
				overflow: hidden;
				margin-bottom: 20px;
				display: flex;
				justify-content: center;
				align-items: stretch;
				.text-box {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					font-size: 18px;
					border-right: 1px solid #DAE1E4;
				}
				.icon-box {
					display: flex;
					justify-content: center;
					align-items: center;
					.img-icon {
						width: 128px;
						height: 128px;
					}
				}
			}
			div.item-s:nth-child(2) { .text-box { border-right: none; border-left: 1px solid #DAE1E4;} }
		}
	}
}
.partners {
	background-color: #fff;
	padding-bottom: 30px;
	.container {
		.wrapper {
			.slider-item {
				text-align: center;
				outline: none;
				img {
				    width: 100%;
    				height: 100%;
				}
			}
		}
	}
}
.footer {
	height: 50px;
	border-top: 1px solid #ccc;
	color: #505775;
	p {
		margin: 0;
		text-align: center;
		line-height: 50px;
		font-size: 15px;
		span {
			color: #85c226;
		}
	}
}
.portfolio-sec {
	overflow: hidden;
	background-color: #fff;
	border-top: 1px solid #ccc;
	.container {
		padding-bottom: 100px;
		.wrapper {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			.item {
				margin: 15px 0;
				.item-link {
					background-color: #fff;
					border-radius: 5px;
					border: 1px solid #ddd;
					display: block;
					width: 100%;
					height: 100%;
					text-decoration: none;
					padding-bottom: 10px;
					&:hover {
						box-shadow: 0px 0px 6px #C9D2D8;
					}
					.img-box {
						width: 100%;
						height: auto;
						overflow: hidden;
						margin-bottom: 25px;
						padding: 3px;
						.item-img {
							width: 100%;
							height: auto;
							max-width: 100%;
						}
					}
					.text-box {
						height: auto;
						padding: 0 10px;
						width: 100%;
						color: #000;
					}
				}
			}
			.empty-work {
				.item-link {
					display: flex;
					align-items: center;
					justify-content: space-around;
					flex-wrap: wrap;
					border: 1px dashed #ddd;
					padding: 10px;
					.img-box {
						border: 1px dashed #ddd;
						border-radius: 50%;
						padding: 5px;
						width: 128px;
						height: 128px;
						margin: 0;
						.item-img {
							width: 100%;
							height: 100%;
						}
					}
					.text-box {
						color: #999;
					}
				}
			}
		}
	}
}
.our-clients {
	overflow: hidden;
	background-color: #fff;
	border-top: 1px solid #ccc;
	.container {
		padding-bottom: 100px;
		.wrapper {
			.item {
				margin: 15px 0;
				.item-link {
					display: block;
					width: 100%;
					height: 100%;
					text-decoration: none;
					.client-logo {
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
}
.portf-header {
	background-color: #fff;
	border-top: 1px solid #ccc;
	.container {
		padding-bottom: 50px;
		overflow: hidden;
		.under-title {
			margin-bottom: 50px;
		}
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			#singleCarousel {
				margin-bottom: 50px;
				.item {
					&:focus {
						outline: none;
					}
					.item-img {
						width: 100%;
						height: auto;
					}
				}
			}
			.text-box {
				text-align: left;
				height: 100%;
				padding: 20px;
				.short-desc {
					font-size: 17px;
					line-height: 25px;
					span {
						font-weight: 600;
					}
				}
				.desc-box {
					margin-bottom: 15px;
					.title {
						font-size: 18px;
					}
				}
			}
		}
	}
}
.portf-clients {
	background-color: #f5f5f5;
	overflow: hidden;
	.container {
		padding-bottom: 50px;
		text-align: center;
		.title {
			font-size: 26px;
		}
		.under-title {
			margin-bottom: 50px;
		}
		.wrapper {
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			.item {
				margin: 15px 0;
				.item-box {
					background-color: #fff;
					border: 1px solid #DAE1E4;
					border-radius: 5px;
					padding: 15px;
					height: 100%;
					.img-box {
						padding: 5px;
						border: 3px solid #85c226;
						border-radius: 50%;
						margin: auto;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 80px;
						height: 80px;
						.item-img {
							width: 48px;
							height: 48px;
						}
					}
					.title {
						font-size: 18px;
						margin-top: 15px;
					}
				}
			}
		}
	}
}
.portf-desc {
	background-color: #fff;
	overflow: hidden;
	.container {
		padding-bottom: 50px;
		overflow: hidden;
		.title {
			text-align: center;
			font-size: 26px;
		}
		.under-title {
			margin-bottom: 50px;
		}
		.desc-box {
			padding: 0 15px;
			font-size: 17px;
			line-height: 30px;
			border-bottom: 1px solid #ddd;
			margin-bottom: 50px;
			h3 {
				font-size: 18px;
				margin-top: 35px;
				margin-bottom: 10px;
				font-weight: 600;
			}
		}
		.btn-order-test {
			margin: auto;
			float: none;
		}
	}
}
.portf-additional {
	background-color: #f5f5f5;
	overflow: hidden;
	.container {
		padding-bottom: 50px;
		.title {
			font-size: 26px;
			text-align: center;
		}
		.desc {
			margin: 0;
			text-align: center;
			font-size: 17px;
			max-width: 100%;
			margin-bottom: 50px;
		}
		.under-title {
			margin-bottom: 25px;
		}
		.wrapper {
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			.item {
				margin: 15px 0;
				.item-box {
					background-color: #fff;
					border: 1px solid #DAE1E4;
					border-radius: 5px;
					padding: 25px;
					height: 100%;
					.text-box {
						padding: 0 20px;
						height: 100%;
						display: flex;
						justify-content: flex-start;
						align-items: center;
						.title {
							font-size: 17px;
							margin: 0;
							line-height: 30px;
							text-align: left;
						}
					}
					.icon-box {
						display: flex;
						justify-content: center;
						align-items: center;
						border-right: 1px solid #DAE1E4;
						font-size: 48px;
						height: 100%;
						span {
							color: #85c226;
						}
					}
				}
			}
		}
	}
}
.services {
	overflow: hidden;
	background-color: #fff;
	border-top: 1px solid #ccc;
	.container {
		padding-bottom: 100px;
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			.item {
				margin: 15px 0;
				.item-link {
					position: relative;
					display: block;
					width: 100%;
					height: 100%;
					text-decoration: none;
					border: 1px solid #ddd;
					border-radius: 3px;
					color: #000;
					.item-body {
						padding: 20px;
						margin-bottom: 35px;
						.icon-box {
							width: 80px;
							height: 80px;
							border: 3px solid #85c226;
							display: flex;
							justify-content: center;
							align-items: center;
							margin: auto;
							border-radius: 50%;
							font-size: 32px;
						}
						.item-title {
							font-size: 17px;
							margin: 25px 0;
						}
						.item-desc {
							margin: 0;
						}
					}
					.item-footer {
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						height: 35px;
						border-top: 1px solid #ddd;
						background-color: #fcfcfc;
						.footer-link {
							text-decoration: none;
							color: #000;
							display: block;
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							transition: all 0.3s ease;
							&:hover {
								color: #85c226;
							}
						}
					}

					&:hover {
						box-shadow: 0px 0px 6px #C9D2D8;
					}
				}
			}
		}
	}
}
.contacts-sec {
	background-color: #fff;
	border-top: 1px solid #ccc;
	overflow: hidden;
	.container {
		padding-bottom: 100px;
		.wrapper {
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			.item {
				.box {
					height: 100%;
					overflow: hidden;
					border: 1px solid #DAE1E4;
					border-radius: 5px;
					padding: 10px;
					display: block;
					text-decoration: none;
					color: #333333;
					.icon-box {
						margin: auto;
						width: 80px;
						height: 80px;
						border-radius: 50%;
						border: 3px solid #85c226;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 32px;
						margin-bottom: 15px;
					}
					.text-box {
						font-size: 18px;
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						padding: 0 10px;
					}
					&:hover {
						box-shadow: 0px 0px 6px #C9D2D8;
					}
				}
			}
		}
		.feedback-form {
			width: 100%;
			overflow: hidden;
			.item {
				margin: 15px 0;
				label {
					text-transform: uppercase;
				}
				.form-input {
					display: block;
					width: 100%;
					border: 1px solid #ddd;
					background-color: #fcfcfc;
					border-radius: 3px;
					height: 45px;
					padding: 0 15px;
					font-size: 18px;
					&:focus {
						outline: none;
						box-shadow: 0px 0px 6px #C9D2D8;
					}
				}
				.form-textarea {
					width: 100%;
					padding: 15px;
					resize: none;
					height: 215px;
					border: 1px solid #ddd;
					background-color: #fcfcfc;
					border-radius: 3px;
					&:focus {
						outline: none;
						box-shadow: 0px 0px 6px #C9D2D8;
					}
				}
			}
			.form-footer {
				width: 100%;
				float: left;
				margin-top: 15px;
				.item {
					float: none;
					margin: auto;
					.btn-send {
						margin: auto;
						width: 100%;
						height: 45px;
						background-color: #85c226;
						border: 1px solid transparent;
						color: #fff;
						font-size: 18px;
						border-radius: 3px;
						transition: all 0.4s ease;
						i {
							margin-right: 10px;
						}
						&:hover {
							border-color: #85c226;
							background-color: transparent;
							color: #85c226;
						}
					}
				}
			}
		}
	}
}
.blog-sec {
	background-color: #fff;
	border-top: 1px solid #ccc;
	overflow: hidden;
	.container {
		padding-bottom: 100px;
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			.item {
				margin: 15px 0;
				.item-box {
					position: relative;
					width: 100%;
					height: 100%;
					border: 1px solid #ddd;
					border-radius: 3px;
					overflow: hidden;
					.item-body {
						margin-bottom: 35px;
						.img-box {
							width: 100%;
							padding: 3px;
							.item-img {
								width: 100%;
								height: 250px;
							}
						}
						.text-box {
							width: 100%;
							padding: 10px;
							.item-title {
								margin-bottom: 15px;
							}
							.item-desc {
								font-size: 14px;
							}
						}
					}
					.item-footer {
						width: 100%;
						height: 35px;
						position: absolute;
						bottom: 0;
						left: 0;
						border-top: 1px solid #ddd;
						background-color: #fcfcfc;
						.footer-link {
							text-decoration: none;
							color: #000;
							display: block;
							width: 100%;
							height: 100%;
							display: flex;
							justify-content: center;
							align-items: center;
							transition: all 0.3s ease;
							&:hover {
								color: #85c226;
							}
						}
					}
					&:hover {
						box-shadow: 0px 0px 6px #C9D2D8;
					}
				}
			}
		}
	}
}
.single-blog-sec {
	background-color: #fff;
	border-top: 1px solid #ccc;
	overflow: hidden;
	.container {
		padding-bottom: 100px;
		#single-blog-slide {
			margin-bottom: 30px;
			.slide-item {
				.slide-img {
					width: 100%;
					height: auto;
					max-height: 500px;
				}
				&:focus {
					outline: none;
				}
			}
		}
		.wrapper {
			text-align: left;
			font-size: 18px;
		}
	}
}
.additional-posts {
	overflow: hidden;
	.container {
		padding-bottom: 50px;
		.title {
			text-transform: uppercase;
			font-size: 22px;
			margin-top: 30px;
			margin-left: 15px;
		}
		.under-title {
			margin: 15px 0;
			margin-bottom: 25px;
			margin-left: 15px;
		}
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			.service-item {
				.item-link {
					width: 100%;
					height: 70px;
					border: 1px solid #DAE1E4;
					background-color: #fff;
					border-radius: 5px;
					text-decoration: none;
					display: block;
					margin-bottom: 20px;
					padding: 10px 0;
					color: #000;
					.icon-box {
						width: 21%;
						height: 100%;
						border-right: 1px solid #DAE1E4;
						font-size: 24px;
						display: flex;
						justify-content: center;
						align-items: center;
						float: left;
						.fa-bullhorn { color: #009688; }
						.fa-desktop { color: #777; }
						.fa-cloud { color: #9C27B0; }
						.fa-bar-chart-o { color: #4CAF50; }
						.fa-laptop { color: #FF5722; }
						.fa-link { color: #00BCD4; }
						.fa-user { color: #F44336; }
						.fa-code { color: #2196F3; }
					}
					.text-box {
						width: 79%;
						float: left;
						padding: 0 15px;
						height: 100%;
						overflow: hidden;
						display: flex;
						justify-content: center;
						align-items: center;
						font-size: 15px;
					}
					&:hover {
						box-shadow: 0px 0px 6px #C9D2D8;
					}
				}
			}
			.item {
				margin: 15px 0;
				.item-link {
					border: 1px solid #DAE1E4;
					text-decoration: none;
					background-color: #fff;
					color: #000;
					width: 100%;
					height: 100%;
					display: block;
					border-radius: 3px;
					overflow: hidden;
					.img-box {
						width: 20%;
						height: 100%;
						border-right: 1px solid #DAE1E4;
						text-align: center;
						overflow: hidden;
						.item-img {
							max-height: 100px;
						}
					}
					.text-box {
						padding: 0 10px;
						height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						width: 80%;
						.title {
							margin: 0;
							font-size: 16px;
						}
					}
					&:hover {
						box-shadow: 0px 0px 6px #C9D2D8;
					}
				}
			}
		}
	}
}
.service-single {
	overflow: hidden;
	background-color: #fff;
	border-top: 1px solid #ccc;
	.container {
		padding-bottom: 50px;
		.header-box {
			overflow: hidden;
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			.desc-box {
				font-size: 17px;
				display: flex;
				align-items: center;
				justify-content: space-around;
				text-align: left;
				line-height: 35px;
			}
			.img-box {
				overflow: hidden;
				.serv-img {
					height: 100%;
					width: 100%;
				}
			}
		}
		.body-box {
			.title {
				font-size: 22px;
				margin-bottom: 30px;
			}
			.wrapper {
				display: flex;
				align-item: stretch;
				flex-wrap: wrap;
				margin-bottom: 50px;
				.item {
					margin: 15px 0;
					.item-box {
						padding: 20px;
						width: 100%;
						height: 100%;
						border: 1px solid #ddd;
						border-radius: 3px;
						.icon-box {
							width: 80px;
							height: 80px;
							border: 3px solid #85c226;
							display: flex;
							justify-content: center;
							align-items: center;
							margin: auto;
							border-radius: 50%;
							font-size: 32px;
						}
						.item-title {
							font-size: 17px;
							margin: 25px 0;
						}
						.item-desc {
							margin: 0;
						}
					}
				}
			}
			.notice {
				border: 1px solid #4CAF50;
				margin: 0 15px;
				line-height: 35px;
				.link {
					color: inherit;
					text-decoration: none;
					font-weight: 600;
					&:hover {
						color: #205823;
					}
				}
				.bg-success {
					background-color: #4CAF50;
				    border: 1px solid #4CAF50;
				    color: #fff;
			        display: inline-block;
				    font-weight: 500;
				    padding: 1px 4px 0px 4px;
				    line-height: 1.5384616;
				    border: 1px solid transparent;
				    text-transform: uppercase;
				    font-size: 10px;
				    letter-spacing: 0.1px;
				    border-radius: 2px;
				}
			}
		}
	}
}


@import "media.scss";
