@font-face { font-family: 'Roboto-Regular'; src: url(../fonts/Roboto-Regular.ttf); font-style: normal; font-weight: normal; }
@font-face { font-family: 'Roboto-Medium'; src: url(../fonts/Roboto-Medium.ttf); font-style: normal; font-weight: normal; }
@font-face { font-family: 'Roboto-Light'; src: url(../fonts/Roboto-Light.ttf); font-style: normal; font-weight: normal; }
body { font-family: "Roboto-Light"; background-color: #f5f5f5; }

#scrollToTop { width: 40px; height: 40px; background-color: #85c226; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; color: #fff; font-size: 28px; position: fixed; bottom: 75px; left: 40px; border-radius: 3px; border: 1px solid transparent; cursor: pointer; }
#scrollToTop:hover { background-color: #fff; border-color: #85c226; color: #85c226; }

.cbalink { display: none; }

.has-error { border: 1px solid #e74c3c !important; }

.title { font-size: 30px; margin-top: 50px; color: #000; }
.title span { color: #85c226; }

.aligncenter { text-align: center; margin: auto; display: block; }

.under-title { width: 5%; background: #85c226; height: 1px; margin: auto; margin-top: 15px; margin-bottom: 30px; }

.under-title-s { width: 25%; background: #85c226; height: 1px; margin: auto; margin-top: 27px; margin-bottom: 30px; }

.desc { font-size: 18px; line-height: 30px; max-width: 85%; margin: auto; margin-bottom: 50px; }

#fade-menu { z-index: 19; position: fixed; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); top: 0; left: 0; display: none; }

#feedback-popup { z-index: 25; position: fixed; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); top: 0; left: 0; display: none; }

#page404 {text-align: center; }

.feedback-box { position: fixed; width: 480px; background-color: #fff; top: 50%; left: 50%; z-index: 25; margin-top: -180px; margin-left: -240px; border: 1px solid #ddd; border-radius: 3px; text-align: center; padding: 15px; box-shadow: 0px 0px 6px #C9D2D8; display: none; }
.feedback-box #close-feedback { font-size: 18px; color: #333333; position: absolute; right: 5px; top: 5px; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.feedback-box #close-feedback:hover { color: #85c226; }
.feedback-box .title { margin-top: 15px; margin-bottom: 15px; }
.feedback-box .under-title { width: 15%; margin-top: 0; }
.feedback-box .popup-form { margin-top: 15px; }
.feedback-box .input-group { margin: 15px 0; width: 100%; }
.feedback-box .input-group .input-group-addon { width: 10%; }
.feedback-box .input-group .form-control { width: 100%; }
.feedback-box .input-group .form-control:focus { border-color: #85c226; }
.feedback-box .send-form { width: 100%; height: 45px; background-color: #85c226; border: 1px solid #85c226; color: #fff; margin: 15px 0; border-radius: 3px; font-size: 18px; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.feedback-box .send-form:hover { background-color: transparent; color: #85c226; }

.btn-order-test { height: 40px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; font-size: 18px; background-color: #85c226; border: 1px solid #85c226; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; border-radius: 3px; color: #fff; }
.btn-order-test:hover { border-color: #85c226; background-color: transparent; color: #85c226; }

.header { height: 380px; background: url(../img/header-background-min.png); }
.header .container { height: 100%; color: #fff; }
.header .container .title { text-transform: uppercase; font-size: 60px; margin-bottom: 30px; font-family: "Roboto-Light"; color: #fff; }
.header .container .desc { text-transform: uppercase; font-size: 22px; margin: auto; margin-bottom: 30px; max-width: 70%; }
.header .container .header-btn { text-decoration: none; margin: auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; border: 1px solid #fff; width: 240px; padding: 10px; color: #fff; font-size: 18px; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.header .container .header-btn:hover { background-color: #85c226; border: 1px solid #85c226; }

.navigate-sec .contacts-bar { background: url(../img/contact-background.png); height: 45px; }
.navigate-sec .contacts-bar .container { height: 100%; }
.navigate-sec .contacts-bar .container .contact { float: left; text-decoration: none; font-size: 16px; color: #fff; line-height: 45px; margin: auto 15px; }
.navigate-sec .contacts-bar .container .contact i { margin-right: 10px; }
.navigate-sec .navigate-menu { height: 95px; background-color: #fff; }
.navigate-sec .navigate-menu .container { height: 100%; }
.navigate-sec .navigate-menu .container .btn { float: right; display: none; margin-top: 20.5px; margin-right: 15px; }
.navigate-sec .navigate-menu .container .logo-box { float: left; width: 200px; margin: 10px 15px; }
.navigate-sec .navigate-menu .container .logo-box .logo { width: 100%; height: 75px; }
.navigate-sec .navigate-menu .container .navigate-box { float: right; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 100%; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; width: 50%; margin-bottom: 0; }
.navigate-sec .navigate-menu .container .navigate-box .nav-links { border-bottom: 2px solid transparent; margin-bottom: -5px; padding-bottom: 3px; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; position: relative; }
.navigate-sec .navigate-menu .container .navigate-box .nav-links .active-item { width: 100%; height: 2px; background-color: #85c226; position: absolute; left: 0; bottom: -2px; display: none; }
.navigate-sec .navigate-menu .container .navigate-box .nav-links .active-item:before { border: 5px solid transparent; content: ''; position: absolute; border-bottom: 5px solid #85c226; top: -8px; margin-left: -5px; left: 50%; }
.navigate-sec .navigate-menu .container .navigate-box .nav-links .nav-item { text-decoration: none; height: 100%; width: 100%; color: #000; font-size: 15px; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; display: block; }
.navigate-sec .navigate-menu .container .navigate-box .nav-links:hover { border-bottom: 2px solid #85c226; }
.navigate-sec .navigate-menu .container .navigate-box .nav-links:hover .nav-item { color: #85c226; }

.our-service { overflow: hidden; width: 100%; }
.our-service .container { height: 100%; padding-bottom: 50px; }
.our-service .container .services-container { width: 100%; }
.our-service .container .services-container .service-item .item-link { width: 100%; height: 70px; border: 1px solid #DAE1E4; background-color: #fff; border-radius: 5px; text-decoration: none; display: block; margin-bottom: 20px; padding: 10px 0; color: #000; }
.our-service .container .services-container .service-item .item-link .icon-box { width: 21%; height: 100%; border-right: 1px solid #DAE1E4; font-size: 24px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; float: left; }
.our-service .container .services-container .service-item .item-link .icon-box .fa-bullhorn { color: #009688; }
.our-service .container .services-container .service-item .item-link .icon-box .fa-desktop { color: #777; }
.our-service .container .services-container .service-item .item-link .icon-box .fa-cloud { color: #9C27B0; }
.our-service .container .services-container .service-item .item-link .icon-box .fa-bar-chart-o { color: #4CAF50; }
.our-service .container .services-container .service-item .item-link .icon-box .fa-laptop { color: #FF5722; }
.our-service .container .services-container .service-item .item-link .icon-box .fa-link { color: #00BCD4; }
.our-service .container .services-container .service-item .item-link .icon-box .fa-user { color: #F44336; }
.our-service .container .services-container .service-item .item-link .icon-box .fa-code { color: #2196F3; }
.our-service .container .services-container .service-item .item-link .text-box { width: 79%; float: left; padding: 0 15px; height: 100%; overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-size: 15px; }
.our-service .container .services-container .service-item .item-link:hover { box-shadow: 0px 0px 6px #C9D2D8; }

.about-us { padding-bottom: 100px; background-color: #fff; overflow: hidden; }
.about-us .container .under-title { width: 5%; background: #85c226; height: 1px; margin: auto; margin-top: 15px; margin-bottom: 25px; }
.about-us .container .desc { text-align: left; }
.about-us .container .caption { font-size: 24px; margin-bottom: 50px; }
.about-us .container .caption span { color: #85c226; }
.about-us .container .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.about-us .container .wrapper .item .box { height: 100%; overflow: hidden; border: 1px solid #DAE1E4; border-radius: 5px; padding: 10px; }
.about-us .container .wrapper .item .box .icon-box { margin: auto; width: 80px; height: 80px; border-radius: 50%; border: 3px solid #85c226; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-size: 32px; margin-bottom: 15px; }
.about-us .container .wrapper .item .box .text-box { font-size: 18px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 100%; padding: 0 10px; }

.ask { overflow: hidden; padding-bottom: 50px; }
.ask .container .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.ask .container .wrapper .item-s { background-color: #fff; border: 1px solid #DAE1E4; border-radius: 5px; overflow: hidden; margin-bottom: 20px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
.ask .container .wrapper .item-s .text-box { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; height: 100%; font-size: 18px; border-right: 1px solid #DAE1E4; }
.ask .container .wrapper .item-s .icon-box { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.ask .container .wrapper .item-s .icon-box .img-icon { width: 128px; height: 128px; }
.ask .container .wrapper div.item-s:nth-child(2) .text-box { border-right: none; border-left: 1px solid #DAE1E4; }

.partners { background-color: #fff; padding-bottom: 30px; }
.partners .container .wrapper .slider-item { text-align: center; outline: none; }
.partners .container .wrapper .slider-item img { width: 100%; height: 100%; }

.footer { height: 50px; border-top: 1px solid #ccc; color: #505775; }
.footer p { margin: 0; text-align: center; line-height: 50px; font-size: 15px; }
.footer p span { color: #85c226; }
.footer div { margin: 0; text-align: center; line-height: 30px; font-size: 15px; }


.portfolio-sec { overflow: hidden; background-color: #fff; border-top: 1px solid #ccc; }
.portfolio-sec .container { padding-bottom: 100px; }
.portfolio-sec .container .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.portfolio-sec .container .wrapper .item { margin: 15px 0; }
.portfolio-sec .container .wrapper .item .item-link { background-color: #fff; border-radius: 5px; border: 1px solid #ddd; display: block; width: 100%; height: 100%; text-decoration: none; padding-bottom: 10px; position: relative; overflow: hidden; }
.portfolio-sec .container .wrapper .item .item-link .best-work-box { position: absolute; top: 9%; right: 40%; width: 75%; height: 25px; background-color: #85c226; color: #fff; text-align: center; line-height: 25px; -webkit-transform: rotate(-35deg); -ms-transform: rotate(-35deg); transform: rotate(-35deg); opacity: 1; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.31); }
.portfolio-sec .container .wrapper .item .item-link:hover { box-shadow: 0px 0px 6px #C9D2D8; }
.portfolio-sec .container .wrapper .item .item-link .img-box { width: 100%; height: auto; overflow: hidden; margin-bottom: 25px; padding: 3px; }
.portfolio-sec .container .wrapper .item .item-link .img-box .item-img { width: 100%; height: auto; max-width: 100%; }
.portfolio-sec .container .wrapper .item .item-link .text-box { height: auto; padding: 0 10px; width: 100%; color: #000; }
.portfolio-sec .container .wrapper .empty-work .item-link { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; border: 1px dashed #ddd; padding: 10px; }
.portfolio-sec .container .wrapper .empty-work .item-link .img-box { border: 1px dashed #ddd; border-radius: 50%; padding: 5px; width: 128px; height: 128px; margin: 0; }
.portfolio-sec .container .wrapper .empty-work .item-link .img-box .item-img { width: 100%; height: 100%; }
.portfolio-sec .container .wrapper .empty-work .item-link .text-box { color: #999; }

.our-clients { overflow: hidden; background-color: #fff; border-top: 1px solid #ccc; }
.our-clients .container { padding-bottom: 100px; }
.our-clients .container .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.our-clients .container .wrapper .item { margin: 15px 0; }
.our-clients .container .wrapper .item .item-box { position: relative; width: 100%; height: 100%; border: 1px solid #ddd; border-radius: 3px; overflow: hidden; }
.our-clients .container .wrapper .item .item-box .best-offer { position: absolute; top: 9%; right: 40%; width: 75%; height: 25px; background-color: #e1183b; color: #fff; text-align: center; line-height: 25px; -webkit-transform: rotate(-35deg); -ms-transform: rotate(-35deg); transform: rotate(-35deg); opacity: 1; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.31); }
.our-clients .container .wrapper .item .item-box .item-body { margin-bottom: 35px; }
.our-clients .container .wrapper .item .item-box .item-body .img-box { width: 100%; padding: 3px; border-bottom: 1px solid #ddd; }
.our-clients .container .wrapper .item .item-box .item-body .img-box .item-img { width: 100%; height: 250px; }
.our-clients .container .wrapper .item .item-box .item-body .text-box { width: 100%; padding: 10px; }
.our-clients .container .wrapper .item .item-box .item-body .text-box .item-title { margin-bottom: 15px; }
.our-clients .container .wrapper .item .item-box .item-body .text-box .item-desc { font-size: 14px; }
.our-clients .container .wrapper .item .item-box .item-footer { width: 100%; height: 35px; position: absolute; bottom: 0; left: 0; border-top: 1px solid #ddd; background-color: #fcfcfc; }
.our-clients .container .wrapper .item .item-box .item-footer .footer-link { text-decoration: none; color: #000; display: block; width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.our-clients .container .wrapper .item .item-box .item-footer .footer-link:hover { color: #85c226; }
.our-clients .container .wrapper .item .item-box:hover { box-shadow: 0px 0px 6px #C9D2D8; }

.portf-header { background-color: #fff; border-top: 1px solid #ccc; }
.portf-header .container { padding-bottom: 50px; overflow: hidden; }
.portf-header .container .under-title { margin-bottom: 50px; }
.portf-header .container .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
.portf-header .container .wrapper #singleCarousel { margin-bottom: 50px; display: flex; align-items: center;}
.portf-header .container .wrapper #singleCarousel .item:focus { outline: none; }
.portf-header .container .wrapper #singleCarousel .item .item-img { width: 100%; height: auto; }
.portf-header .container .wrapper .text-box { text-align: left; height: 100%; padding: 20px; }
.portf-header .container .wrapper .text-box p { font-size: 17px; line-height: 25px; }
.portf-header .container .wrapper .text-box span { font-weight: 600; }
.portf-header .container .wrapper .text-box .desc-box { margin-bottom: 15px; }
.portf-header .container .wrapper .text-box .desc-box .title { font-size: 18px; }

.portf-clients { background-color: #f5f5f5; overflow: hidden; }
.portf-clients .container { padding-bottom: 50px; text-align: center; }
.portf-clients .container .title { font-size: 26px; }
.portf-clients .container .under-title { margin-bottom: 50px; }
.portf-clients .container .wrapper { overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
.portf-clients .container .wrapper .item { margin: 15px 0; }
.portf-clients .container .wrapper .item .item-box { background-color: #fff; border: 1px solid #DAE1E4; border-radius: 5px; padding: 15px; height: 100%; }
.portf-clients .container .wrapper .item .item-box .img-box { padding: 5px; border: 3px solid #85c226; border-radius: 50%; margin: auto; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 80px; height: 80px; }
.portf-clients .container .wrapper .item .item-box .img-box .item-img { width: 48px; height: 48px; }
.portf-clients .container .wrapper .item .item-box .title { font-size: 18px; margin-top: 15px; }

.portf-desc { background-color: #fff; overflow: hidden; }
.portf-desc .container { padding-bottom: 50px; overflow: hidden; }
.portf-desc .container .title { text-align: center; font-size: 26px; }
.portf-desc .container .under-title { margin-bottom: 50px; }
.portf-desc .container .desc-box { padding: 0 15px; font-size: 17px; line-height: 30px; border-bottom: 1px solid #ddd; margin-bottom: 50px; }
.portf-desc .container .desc-box h2 { font-size: 20px; margin-top: 35px; margin-bottom: 10px; }
.portf-desc .container .desc-box h3 { font-size: 18px; margin-top: 35px; margin-bottom: 10px; font-weight: 600; }
.portf-desc .container .btn-order-test { margin: auto; float: none; }
.portf-desc .container ol, .single-blog-sec .container .wrapper ol { list-style: decimal; list-style-position:inside;}
.portf-desc .container ul, .single-blog-sec .container .wrapper ul { list-style: disc; list-style-position:inside;}

.portf-additional { background-color: #f5f5f5; overflow: hidden; }
.portf-additional .container { padding-bottom: 50px; }
.portf-additional .container .title { font-size: 26px; text-align: center; }
.portf-additional .container .desc { margin: 0; text-align: center; font-size: 17px; max-width: 100%; margin-bottom: 50px; }
.portf-additional .container .under-title { margin-bottom: 25px; }
.portf-additional .container .wrapper { overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
.portf-additional .container .wrapper .item { margin: 15px 0; }
.portf-additional .container .wrapper .item .item-box { background-color: #fff; border: 1px solid #DAE1E4; border-radius: 5px; padding: 25px; height: 100%; }
.portf-additional .container .wrapper .item .item-box .text-box { padding: 0 20px; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -webkit-justify-content: flex-start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.portf-additional .container .wrapper .item .item-box .text-box .title { font-size: 17px; margin: 0; line-height: 30px; text-align: left; }
.portf-additional .container .wrapper .item .item-box .icon-box { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; border-right: 1px solid #DAE1E4; font-size: 48px; height: 100%; }
.portf-additional .container .wrapper .item .item-box .icon-box span { color: #85c226; }

.services { overflow: hidden; background-color: #fff; border-top: 1px solid #ccc; }
.services .container { padding-bottom: 100px; }
.services .container .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
.services .container .wrapper .item { margin: 15px 0; }
.services .container .wrapper .item .item-link { position: relative; display: block; width: 100%; height: 100%; text-decoration: none; border: 1px solid #ddd; border-radius: 3px; color: #000; }
.services .container .wrapper .item .item-link .item-body { padding: 20px; margin-bottom: 35px; }
.services .container .wrapper .item .item-link .item-body .icon-box { width: 80px; height: 80px; border: 3px solid #85c226; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin: auto; border-radius: 50%; font-size: 32px; }
.services .container .wrapper .item .item-link .item-body .item-title { font-size: 17px; margin: 25px 0; }
.services .container .wrapper .item .item-link .item-body .item-desc { margin: 0; }
.services .container .wrapper .item .item-link .item-footer { position: absolute; bottom: 0; left: 0; width: 100%; height: 35px; border-top: 1px solid #ddd; background-color: #fcfcfc; }
.services .container .wrapper .item .item-link .item-footer .footer-link { text-decoration: none; color: #000; display: block; width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.services .container .wrapper .item .item-link .item-footer .footer-link:hover { color: #85c226; }
.services .container .wrapper .item .item-link:hover { box-shadow: 0px 0px 6px #C9D2D8; }

.contacts-sec { background-color: #fff; border-top: 1px solid #ccc; overflow: hidden; }
.contacts-sec .container { padding-bottom: 100px; }
.contacts-sec .container .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.contacts-sec .container .wrapper .item .box { height: 100%; overflow: hidden; border: 1px solid #DAE1E4; border-radius: 5px; padding: 10px; display: block; text-decoration: none; color: #333333; }
.contacts-sec .container .wrapper .item .box .icon-box { margin: auto; width: 80px; height: 80px; border-radius: 50%; border: 3px solid #85c226; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-size: 32px; margin-bottom: 15px; }
.contacts-sec .container .wrapper .item .box .text-box { font-size: 18px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; width: 100%; padding: 0 10px; }
.contacts-sec .container .wrapper .item .box:hover { box-shadow: 0px 0px 6px #C9D2D8; }
.contacts-sec .container .feedback-form { width: 100%; overflow: hidden; }
.contacts-sec .container .feedback-form .item { margin: 15px 0; }
.contacts-sec .container .feedback-form .item label { text-transform: uppercase; }
.contacts-sec .container .feedback-form .item .form-input { display: block; width: 100%; border: 1px solid #ddd; background-color: #fcfcfc; border-radius: 3px; height: 45px; padding: 0 15px; font-size: 18px; }
.contacts-sec .container .feedback-form .item .form-input:focus { outline: none; box-shadow: 0px 0px 6px #C9D2D8; }
.contacts-sec .container .feedback-form .item .form-textarea { width: 100%; padding: 15px; resize: none; height: 215px; border: 1px solid #ddd; background-color: #fcfcfc; border-radius: 3px; }
.contacts-sec .container .feedback-form .item .form-textarea:focus { outline: none; box-shadow: 0px 0px 6px #C9D2D8; }
.contacts-sec .container .feedback-form .form-footer { width: 100%; float: left; margin-top: 15px; }
.contacts-sec .container .feedback-form .form-footer .item { float: none; margin: auto; }
.contacts-sec .container .feedback-form .form-footer .item .btn-send { margin: auto; width: 100%; height: 45px; background-color: #85c226; border: 1px solid transparent; color: #fff; font-size: 18px; border-radius: 3px; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.contacts-sec .container .feedback-form .form-footer .item .btn-send i { margin-right: 10px; }
.contacts-sec .container .feedback-form .form-footer .item .btn-send:hover { border-color: #85c226; background-color: transparent; color: #85c226; }

.blog-sec { background-color: #fff; border-top: 1px solid #ccc; overflow: hidden; }
.blog-sec .container { padding-bottom: 100px; }
.blog-sec .container .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
.blog-sec .container .wrapper .item { margin: 15px 0; }
.blog-sec .container .wrapper .item .item-box { position: relative; width: 100%; height: 100%; border: 1px solid #ddd; border-radius: 3px; overflow: hidden; }
.blog-sec .container .wrapper .item .item-box .item-body { margin-bottom: 35px; }
.blog-sec .container .wrapper .item .item-box .item-body .img-box { width: 100%; padding: 3px; }
.blog-sec .container .wrapper .item .item-box .item-body .img-box .item-img { width: 100%; height: 250px; }
.blog-sec .container .wrapper .item .item-box .item-body .text-box { width: 100%; padding: 10px; }
.blog-sec .container .wrapper .item .item-box .item-body .text-box .item-title { margin-bottom: 15px; }
.blog-sec .container .wrapper .item .item-box .item-body .text-box .item-desc { font-size: 14px; }
.blog-sec .container .wrapper .item .item-box .item-footer { width: 100%; height: 35px; position: absolute; bottom: 0; left: 0; border-top: 1px solid #ddd; background-color: #fcfcfc; }
.blog-sec .container .wrapper .item .item-box .item-footer .footer-link { text-decoration: none; color: #000; display: block; width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.blog-sec .container .wrapper .item .item-box .item-footer .footer-link:hover { color: #85c226; }
.blog-sec .container .wrapper .item .item-box:hover { box-shadow: 0px 0px 6px #C9D2D8; }

.single-blog-sec { background-color: #fff; border-top: 1px solid #ccc; overflow: hidden; }
.single-blog-sec .container { padding-bottom: 100px; }
.single-blog-sec .container #single-blog-slide { margin-bottom: 30px; }
.single-blog-sec .container #single-blog-slide .slide-item .slide-img { width: 100%; height: auto; max-height: 500px; }
.single-blog-sec .container #single-blog-slide .slide-item:focus { outline: none; }
.single-blog-sec .container .wrapper { text-align: left; font-size: 18px; }

.additional-posts { overflow: hidden; }
.additional-posts .container { padding-bottom: 50px; }
.additional-posts .container .title { text-transform: uppercase; font-size: 22px; margin-top: 30px; margin-left: 15px; }
.additional-posts .container .under-title { margin: 15px 0; margin-bottom: 25px; margin-left: 15px; }
.additional-posts .container .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
.additional-posts .container .wrapper .service-item .item-link { width: 100%; height: 70px; border: 1px solid #DAE1E4; background-color: #fff; border-radius: 5px; text-decoration: none; display: block; margin-bottom: 20px; padding: 10px 0; color: #000; }
.additional-posts .container .wrapper .service-item .item-link .icon-box { width: 21%; height: 100%; border-right: 1px solid #DAE1E4; font-size: 24px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; float: left; }
.additional-posts .container .wrapper .service-item .item-link .icon-box .fa-bullhorn { color: #009688; }
.additional-posts .container .wrapper .service-item .item-link .icon-box .fa-desktop { color: #777; }
.additional-posts .container .wrapper .service-item .item-link .icon-box .fa-cloud { color: #9C27B0; }
.additional-posts .container .wrapper .service-item .item-link .icon-box .fa-bar-chart-o { color: #4CAF50; }
.additional-posts .container .wrapper .service-item .item-link .icon-box .fa-laptop { color: #FF5722; }
.additional-posts .container .wrapper .service-item .item-link .icon-box .fa-link { color: #00BCD4; }
.additional-posts .container .wrapper .service-item .item-link .icon-box .fa-user { color: #F44336; }
.additional-posts .container .wrapper .service-item .item-link .icon-box .fa-code { color: #2196F3; }
.additional-posts .container .wrapper .service-item .item-link .text-box { width: 79%; float: left; padding: 0 15px; height: 100%; overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; font-size: 15px; }
.additional-posts .container .wrapper .service-item .item-link:hover { box-shadow: 0px 0px 6px #C9D2D8; }
.additional-posts .container .wrapper .item { margin: 15px 0; }
.additional-posts .container .wrapper .item .item-link { border: 1px solid #DAE1E4; text-decoration: none; background-color: #fff; color: #000; width: 100%; height: 100%; display: block; border-radius: 3px; overflow: hidden; }
.additional-posts .container .wrapper .item .item-link .img-box { width: 20%; height: 100%; border-right: 1px solid #DAE1E4; text-align: center; overflow: hidden; }
.additional-posts .container .wrapper .item .item-link .img-box .item-img { max-height: 100px; }
.additional-posts .container .wrapper .item .item-link .text-box { padding: 0 10px; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; width: 80%; }
.additional-posts .container .wrapper .item .item-link .text-box .title { margin: 0; font-size: 16px; }
.additional-posts .container .wrapper .item .item-link:hover { box-shadow: 0px 0px 6px #C9D2D8; }

.service-single { overflow: hidden; background-color: #fff; border-top: 1px solid #ccc; }
.service-single .container { padding-bottom: 50px; }
.service-single .container .header-box { overflow: hidden; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: stretch; -webkit-align-items: stretch; -ms-flex-align: stretch; align-items: stretch; }
.service-single .container .header-box .desc-box { font-size: 17px; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; text-align: left; line-height: 35px; }
.service-single .container .header-box .img-box { overflow: hidden; }
.service-single .container .header-box .img-box .serv-img { height: 100%; width: 100%; }

.body-box { background-color: #f5f5f5; padding-bottom: 50px; }
.body-box .title { font-size: 26px; }
.body-box .under-title { margin-bottom: 50px; }
.body-box .wrapper { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; align-item: stretch; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; }
.body-box .wrapper .item { margin: 15px 0; }
.body-box .wrapper .item .item-box { background-color: #fff; padding: 20px; width: 100%; height: 100%; border: 1px solid #DAE1E4; border-radius: 3px; }
.body-box .wrapper .item .item-box .icon-box { width: 80px; height: 80px; border: 3px solid #85c226; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; margin: auto; border-radius: 50%; font-size: 32px; }
.body-box .wrapper .item .item-box .item-title { font-size: 17px; margin: 25px 0; }
.body-box .wrapper .item .item-box .item-desc { margin: 0; }

.serv-desc { background-color: #fff; overflow: hidden; }
.serv-desc .container { padding-bottom: 50px; }
.serv-desc .container .title { font-size: 26px; text-align: center; }
.serv-desc .container .under-title { margin-bottom: 50px; }
.serv-desc .container .wrapper { font-size: 17px; line-height: 30px; padding: 0 15px; margin-bottom: 50px; }
.serv-desc .container .wrapper h3 { font-size: 18px; margin-top: 35px; margin-bottom: 10px; font-weight: 600; }
.serv-desc .container .wrapper ul { list-style: disc; margin-left: 40px; }
.serv-desc .container .wrapper ul li { margin: 15px 0; }
.serv-desc .container .notice { border: 1px solid #4CAF50; margin: 0 15px; line-height: 35px; }
.serv-desc .container .notice .link { color: inherit; text-decoration: none; font-weight: 600; }
.serv-desc .container .notice .link:hover { color: #205823; }
.serv-desc .container .notice .bg-success { background-color: #4CAF50; border: 1px solid #4CAF50; color: #fff; display: inline-block; font-weight: 500; padding: 1px 4px 0px 4px; line-height: 1.5384616; border: 1px solid transparent; text-transform: uppercase; font-size: 10px; letter-spacing: 0.1px; border-radius: 2px; }

@media screen and (max-width: 991px) { .portf-single .container .img-box { margin-bottom: 20px; padding: 0; }
  .header { padding: 100px 0; }
  .header .container { height: auto; padding-top: 0; }
  .navigate-sec .navigate-menu .container .navigate-box { width: 60%; } }
@media screen and (max-width: 786px) { #scrollToTop { visibility: hidden; }
  .navigate-sec .contacts-bar .container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .navigate-sec .navigate-menu { height: auto; padding: 15px 0; }
  .navigate-sec .navigate-menu .container .logo-box { margin: auto; margin-bottom: 30px; float: none; }
  .navigate-sec .navigate-menu .container .navigate-box { width: 100%; }
  .partners .container { padding-bottom: 25px; }
  .partners .container .wrapper .carousel-indicators { display: none; }
  .partners .container .wrapper .carousel-inner { margin-bottom: 0; }
  .partners .container .wrapper .carousel-inner .item .img-box .partner-img { width: 128px; height: 128px; }
  .about-us .container .wrapper .item { margin: 15px auto; } }
@media screen and (max-width: 767px) { .portf-single .container .table-desc .field .label-cell { border-right: 0; border-bottom: 1px solid #ddd; padding: 5px; }
  .contacts-sec .container .wrapper .item { margin: 10px 0; } }
@media screen and (max-width: 600px) { .title { font-size: 28px; }
  .under-title { width: 15%; }
  .footer p { font-size: 14px; padding: 0 5px; }
  .portfolio-sec, .our-clients, .portf-single, .contacts-sec, .blog-sec, .single-blog-sec, .service-single { border-top: none; }
  .ask .container .wrapper .item-s .icon-box .img-icon { width: 64px; height: 64px; }
  .header { padding: 15px 0; }
  .header .container { height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .header .container .text-box .title { margin-top: 0; font-size: 30px; }
  .header .container .text-box .desc { font-size: 18px; }
  .navigate-sec .navigate-menu { padding: 0; height: 95px; position: relative; z-index: 20; border-bottom: 1px solid #ccc; }
  .navigate-sec .navigate-menu .container { height: 100%; padding: 10px; position: relative; }
  .navigate-sec .navigate-menu .container .logo-box { margin: 0; float: left; }
  .navigate-sec .navigate-menu .container .btn { display: block; outline: none; }
  .navigate-sec .navigate-menu .container .navigate-box { float: none; position: absolute; bottom: -428px; left: 0; background-color: #f5f5f5; width: 100%; height: auto; padding: 10px; z-index: 10; border-bottom: 1px solid #ccc; display: none; }
  .navigate-sec .navigate-menu .container .navigate-box li.nav-links:last-child { border-bottom: none; }
  .navigate-sec .navigate-menu .container .navigate-box .nav-links { width: 100%; border-bottom: 1px solid #DAE1E4; padding: 0; text-align: center; margin: 5px 0; }
  .navigate-sec .navigate-menu .container .navigate-box .nav-links .nav-item { padding: 20px; display: block; } }
@media screen and (max-width: 480px) { .feedback-box { width: 96%; margin-left: 0; left: 2%; } }
@media screen and (max-width: 430px) { .navigate-sec .contacts-bar .container .contact { font-size: 13px; margin: 0; }
  .ask .container .wrapper .item-s { padding: 15px 5px; }
  .partners .container .wrapper .carousel-inner .item .img-box .partner-img { width: 64px; height: 64px; } }
@media screen and (max-width: 330px) { .our-service .container .services-container .service-item .item-link .text-box { font-size: 14px; }
  .about-us .container .wrapper .item .box .text-box { font-size: 16px; }
  .ask .container .wrapper .item-s .text-box { font-size: 16px; }
  .navigate-sec .contacts-bar .container { padding: 0 5px; } }

.agreement-alert { margin: 15px 0; font-size: 13px; margin-bottom: 0; }
