@media screen and (max-width: 991px) { .portf-single .container .img-box { margin-bottom: 20px; padding: 0; }
  .header { padding: 100px 0; }
  .header .container { height: auto; padding-top: 0; }
  .navigate-sec .navigate-menu .container .navigate-box { width: 60%; } }
@media screen and (max-width: 786px) { .navigate-sec .contacts-bar .container { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
  .navigate-sec .navigate-menu { height: auto; padding: 15px 0; }
  .navigate-sec .navigate-menu .container .logo-box { margin: auto; margin-bottom: 30px; float: none; }
  .navigate-sec .navigate-menu .container .navigate-box { width: 100%; }
  .partners .container { padding-bottom: 25px; }
  .partners .container .wrapper .carousel-indicators { display: none; }
  .partners .container .wrapper .carousel-inner { margin-bottom: 0; }
  .partners .container .wrapper .carousel-inner .item .img-box .partner-img { width: 128px; height: 128px; }
  .about-us .container .wrapper .item { margin: 15px auto; } }
@media screen and (max-width: 767px) { .portf-single .container .table-desc .field .label-cell { border-right: 0; border-bottom: 1px solid #ddd; padding: 5px; }
  .contacts-sec .container .wrapper .item { margin: 10px 0; } }
@media screen and (max-width: 600px) { .title { font-size: 28px; }
  .under-title { width: 15%; }
  .footer p { font-size: 14px; padding: 0 5px; }
  .portfolio-sec, .our-clients, .portf-single, .contacts-sec, .blog-sec, .single-blog-sec, .service-single { border-top: none; }
  .ask .container .wrapper .item-s .icon-box .img-icon { width: 64px; height: 64px; }
  .header { padding: 15px 0; }
  .header .container { height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
  .header .container .text-box .title { margin-top: 0; font-size: 30px; }
  .header .container .text-box .desc { font-size: 18px; }
  .navigate-sec .navigate-menu { padding: 0; height: 95px; position: relative; z-index: 20; border-bottom: 1px solid #ccc; }
  .navigate-sec .navigate-menu .container { height: 100%; padding: 10px; position: relative; }
  .navigate-sec .navigate-menu .container .logo-box { margin: 0; float: left; }
  .navigate-sec .navigate-menu .container .btn { display: block; outline: none; }
  .navigate-sec .navigate-menu .container .navigate-box { float: none; position: absolute; bottom: -428px; left: 0; background-color: #f5f5f5; width: 100%; height: auto; padding: 10px; z-index: 10; border-bottom: 1px solid #ccc; display: none; }
  .navigate-sec .navigate-menu .container .navigate-box li.nav-links:last-child { border-bottom: none; }
  .navigate-sec .navigate-menu .container .navigate-box .nav-links { width: 100%; border-bottom: 1px solid #DAE1E4; padding: 0; text-align: center; margin: 5px 0; }
  .navigate-sec .navigate-menu .container .navigate-box .nav-links .nav-item { padding: 20px; display: block; } }
@media screen and (max-width: 480px) { .feedback-box { width: 96%; margin-left: 0; left: 2%; } }
@media screen and (max-width: 430px) { .navigate-sec .contacts-bar .container .contact { font-size: 13px; margin: 0; }
  .ask .container .wrapper .item-s { padding: 15px 5px; }
  .partners .container .wrapper .carousel-inner .item .img-box .partner-img { width: 64px; height: 64px; } }
@media screen and (max-width: 330px) { .our-service .container .services-container .service-item .item-link .text-box { font-size: 14px; }
  .about-us .container .wrapper .item .box .text-box { font-size: 16px; }
  .ask .container .wrapper .item-s .text-box { font-size: 16px; }
  .navigate-sec .contacts-bar .container { padding: 0 5px; } }
